{% extends 'base.html' %}

{% block content %}

{% if artist %}

<h3>{{ artist['title'] }}</h3>

<br><b>Date:</b> {{ artist['date'] }}

<br><b>Info:</b>
{% for i in artist['info'] %}
<p>{{ i }}</p>
{% endfor %}
<div class="grid-container-three">
	<div class="grid-item">
		<b>Genres:</b>
		<ul>
			{% for genre in genres %}
			<li><a href="{{ url_for('genre', urlgenre=genre) }}">{{ genre }}</a></li>
			{% endfor %}
		</ul>
	</div>
	<div class="grid-item">
		<b>Albums:</b>
		<ul>
			{% for album in albums %}
			<li><a href="{{ url_for('album', urlalbum=album) }}">{{ album }}</a></li>
			{% endfor %}
		</ul>
	</div>
	<div class="grid-item">
		<b>Tracks:</b>
		<ul>
			{% for track in tracks %}
			<li><a href="{{ url_for('track', urltrack=track) }}">{{ track }}</a></li>
			{% endfor %}
		</ul>
	</div>
</div>

{% else %}

<p><b>Artists</b></p>
<ul>
	{% for artist in artists %}
	<li><a href="{{ url_for('artist', urlartist=artist) }}">{{ artist }}</a></li>
	{% endfor %}
</ul>

{% endif %}

{% endblock %}
